<div class="py-5 px-4 bg-light rounded-4">
  <h1 class="mb-4">👋 Hey there, code enthusiast!</h1>
  <p class="lead">Welcome to our Angular haven where we build fantastic projects with the help of ESLint.</p>
  <hr />
  <p>Ready to dive into the world of clean, error-free code? We've got just the tools and tips for you!</p>
  <ul>
    <li>🚀 Explore the power of Angular with our ESLint setup.</li>
    <li>🛠️ Learn how ESLint keeps your codebase consistent and bug-free.</li>
    <li>📰 Stay tuned for updates on best practices and ESLint configurations.</li>
  </ul>

  <p>
    Let's write code that not only works but also looks good doing it. Join us in creating Angular projects that are
    both efficient and aesthetically pleasing. Happy coding! 🧑‍💻
  </p>

  <a class="btn btn-dark" [routerLink]="['/about']">
    <i class="bi bi-info-circle"></i>
    Learn More
  </a>
</div>
